table{

    border-collapse: collapse;
    border: 1px, solid black;
}



td{
    padding-left: 0.5rem;
    padding-right: 2rem;
    border: 1px, solid black;

}

#tablaEjercicio5{
    width: fit-content;
    margin: auto;
}