table{
      border-color: white; /* Cambia el color de los bordes de la tabla */
  border-style: solid; /* Establece el estilo de borde */
  border-width: 5px;
}



td{
    padding-left: 0.5rem;
    padding-right: 2rem;
    border: 1px, solid black;

}

#tablaEjercicio5{
    width: fit-content;
    margin: auto;
}