*{
    align-items: center;
    align-self: center;
    text-align: center;
    justify-self: center;
}

#tarjeta{
    width: max-content;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    border-color: black;
    
}

div{
    border-color: black;
}

#title{
 font-size: large;
 flex-wrap: wrap;
}

#subtitle{
 font-size: medium;

}

#description{
 font-size: small;

}